[blame]
    ignoreRevsFile = .git-blame-ignore-revs
	markIgnoredLines = true
	markUnblamableLines = true

[core]
    editor = nvim

[commit]
    gpgsign = true

[diff]
    submodule = log

[gpg]
    format = ssh

[merge]
    tool = nvim

[mergetool "nvim"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[pull]
    rebase = false

[rerere]
    enabled = true

[status]
    submoduleSummary = true

[submodule]
    recurse = true

[push]
    recurseSubmodules = on-demand


[fixup]
    menu = fzf --height '60%' \
                --bind 'tab:toggle-preview' \
                --preview 'git show --color {+1}' \
                --preview-window=up:80% \
                --prompt 'Select commit: '
    commit = true
    base = closest




[include]
    path = ~/.private/git/.gitconfig
