[blame]
    ignoreRevsFile = .git-blame-ignore-revs
	markIgnoredLines = true
	markUnblamableLines = true

[core]
    editor = nvim

[commit]
    gpgsign = true

[diff]
    submodule = log

[gpg]
    format = ssh

[merge]
    tool = nvim

[mergetool "nvim"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[pull]
    rebase = false

[rerere]
    enabled = true

[status]
    submoduleSummary = true







[include]
    path = ~/.private/git/.gitconfig
